<?xml version="1.0"?><!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  --><!--connectionString="Data Source=DEV-PC\DEV;Initial Catalog=dbFalStore;User ID=sa;Password=123456;"--><configuration>
    <configSections>
      <sectionGroup name="businessObjects">
        <sectionGroup name="crystalReports">
          <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.7, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
          <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler"></section>
        </sectionGroup>
      </sectionGroup>
    </configSections>

    <businessObjects>
      <crystalReports>
        <rptBuildProvider>
          <add embedRptInResource="true"/>
        </rptBuildProvider>
        <crystalReportViewer>
          <add key="ResourceUri" value="../crystalreportviewers13"/>
        </crystalReportViewer>
      </crystalReports>
    </businessObjects>

 
    
    <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=112.78.2.118;Initial Catalog=fal41cf1_dbFalStore;User ID=fal41cf1_fal1;Password=fal!2345;" providerName="System.Data.SqlClient"/>
    </connectionStrings>



  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="10"/>
    </authentication>

    <sessionState mode="InProc" timeout="10" sqlCommandTimeout="90"  />

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>

    

  

  <httpHandlers>
    <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
  </httpHandlers>

  <machineKey validationKey="9A8DB790F407AABF0C203623FCD80C1BA1AF078B662854A015AFD8BF2E8977AD34FF8099D3010FEDAC84FF77A7D66F831213613278C46888BED6906CA173A07F"
            decryptionKey="7A2B47C3B0A48B0F250E6BD0A39E5D221371F524ECC4B126690BB6F71815DF33"
            validation="SHA1" decryption="AES" />
    
  </system.web>

 
  
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
     <handlers><add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/></handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

 
</configuration>