
.printBill {
    width: 30%;
    background-color: white;
    font-family: monospace;
    margin: auto;
}

.pb-logo {
    text-align: center;
    height: 26px;
}

.pb-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pb-rowTitle {
    float: left;
    width: 50%;
    margin-left: 10px;
}

.pb-rowValue {
    margin-left: 130px;
}

.pb-Price {
    width: 100%;
    margin-top: 5px;
    margin-left: 20px;
    /*border: 2px solid #E0DFDF;*/
}

.pb-priceTitle {
    width: 50%;
    float: left;
    text-align: right;
}

.pb-priceValue {
    margin-left: 150px;
}

.pb-productDetailDesc {
    margin-left: 10px;
}

table {
    width: 98%;
    border-collapse: collapse;
}

.table, .td, .th {
    border: 1px solid gray;
}

.pb-itemPrice {
    text-align: center;
}

.pb-itemAmount {
    text-align: center;
}

.pb-itemTotalPrice {
    text-align: center;
}

.pb-footer {
    margin-top: 30px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.undisplayed {
    display: none;
}
